body {
    position: flex;
}

md-card-title {
    color: darkmagenta;   
}

button {
    padding: 0;
    width: 4em;
}

.rightbtn {
    @apply button;
    position: absolute;
    right: 1em;
    z-index: 2;
}

.rightdiv {
    position: absolute;
    right: 1em;
    z-index: 2;
}

.justifycontent {
    display: flex;
    justify-content: space-between;
}

.righttooltipdiv {
    position: absolute;
    right: 1em;
    z-index: 2;
    -moz-transform: translateY(-1em);
}

md-sidenav-container {
    width: 100%;
    height: 100%;
}

.toolbar {
    left: 5em;
}