/* You can add global styles to this file, and also import other style files */
body {
    font-family: Calibri, Yu Gothic, Arial, sans-serif;
}

.err {
    font-size: 2em;
    color: red;
}

[md-input] {
    text-align: right;
}

[md-card-content] {
    text-align: center;
}

html, body, md-sidenav-container {
    margin: 0;
    width: 100%;
    height: 100%;
}

md-toolbar { 
    position: absolute;
    top: 0;
}

.content {
    clear: both;
    position: absolute;
    top: 7%;
    width: 100%;
}

md-toolbar-row {
    justify-content: center;
}